.signin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
}

.signin .card h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.signin .card img {
  width: 168px;
  height: 180px;
  margin-left: auto;
  padding: 0 0 20px 0;
}

.signin .card {
  padding: 0 40px;
  box-sizing: border-box;
}

.signin .card .inputs {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.signin .card .inputs input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 5px;
  border: none;
  background: none;
  outline: none;
}

.signin .card .inputs label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.signin .card .inputs span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.signin .card .inputs input:focus ~ label,
.signin .card .inputs input:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.signin .card .inputs input:focus ~ span::before,
.signin .card .inputs input:valid ~ span::before {
  width: 100%;
}

.signin .card .pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.signin .card .pass:hover {
  text-decoration: underline;
}

.signin .card input[type='submit'] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  background: #2691d9;
  color: #39f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.signin .card .input[type='submit'] {
  border-color: #2691d9;
  transition: 0.5s;
}
